.game-board {
    background-color: #132715;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #073b25;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#col2 {
    border-left: 1px solid green;
    border-right: 1px solid green;
}

.cells {
    border-bottom: 1px solid green;
}

#c13, #c23, #c33
{
    border: none;
}